@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0.5rem;
  height: auto;
  min-width: 300px;
  margin-bottom: 2rem;

  box-shadow: 0px -1px 14px 2px rgba(0, 0, 0, 0.25);
  background-color: #efefef91;
  border: none;
  border-radius: 0.3rem;

  font-family: 'Andada Pro', serif;
}

.title {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.work:hover {
  cursor: pointer;
  opacity: 0.8;
}
