div.reviews_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

div.reviews_header button {
  border-radius: 5px;
  border-style: none;
  padding: 10px 25px;
  transition: 0.5s;
}

div.reviews_header button:hover {
  background-color: #cdcdcd;
}
